<!doctype html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>index</title>
  </head>
  <body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<!-- Security flaw no 4 Identification and Authentication Failures: 
     Security flaw no 5 Insecure Design:
 This is not the actual fix for number 4 or 5, this is only for demonstation reasons.
 Real fix is in views.py -->
<!-- {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}!</p>
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Log out</button>
  </form>
{% else %}
  <a href="{% url 'login' %}">Log in</a>
{% endif %} -->
</body>
</html>