# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Django specific
*.log
staticfiles/
media/
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Byte-compiled / package
*.egg-info/
